$primaryColor: #6a6a6a;
$secondryColor: #1a9bdc;
$whiteColor: #ffffff;
$blackColor: #000000;
$actvieColor: #262626;
$notActvieColor: #6c6c6c;
$iconColor: #191919;
$textColorBanner: #474747;
$special-titleColor: #494949;
$special-textColor: #6a6a6a;
$footerBackgroundColor: #171717;
$circle: 50%;
$transition: 0.45s;
